{% extends 'main.html' %}

{% block content %}

<div class="hero-section app-hero">
    <div class="container">
        <div class="hero-content app-hero-content text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'beranda' %}">Beranda</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Produk</li>
                </ol>
            </nav>
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <h1 class="wow fadeInUp" data-wow-delay="0s">PRODUK BAPPEDA</h1>
                    <!-- <p class="wow fadeInUp" data-wow-delay="0.2s">
                        DOKUMEN PERENCANAAN
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex-features" id="features">
    <div class="container">
        <div class="row">
            {% for item in kategori %}
            <a class="col-md-4" href="{% url 'produk' item.id %}">
                <div class="card-counter {{ item.background_color }}">
                    <i class="{{ item.icon }}"></i>
                    <span class="count-numbers">{{ item.total }}</span>
                    <span class="count-name">{{ item.kategori }}</span>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}