{% extends 'main.html' %}

{% block content %}
{% load static %}

<div class="container">

</div>

<div class="hero-section app-hero">
    <div class="container">
        <div class="hero-content app-hero-content text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Beranda</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="#">Produk</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dokumen Perencanaan</li>
                </ol>
            </nav>
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <h1 class="wow fadeInUp" data-wow-delay="0s">PRODUK BAPPEDA</h1>
                    <p class="wow fadeInUp" data-wow-delay="0.2s">
                        DOKUMEN PERENCANAAN
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="flex-features" id="features">
    <div class="container">
        <div class="row">
            {% for item in produk %}
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="{{item.cover.url}}" style="height:220px;">
                    <div class="card-block">
                        <figure class="profile">
                            <img src="{% static 'logos/sickat.png' %}" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3">{{ item.title }}</h4>
                        <div class="meta">
                            <a>Rancangan</a>
                        </div>
                        <div class="card-text">
                            {{ item.deskripsi }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>Update : {{ item.tgl_produksi }}</small>
                        <button class="btn btn-secondary float-right btn-sm">Lihat</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                    <div class="card-block">
                        <figure class="profile">
                            <img src="{% static 'logos/sickat.png' %}" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3">RENSTRA 2023 - 2027</h4>
                        <div class="meta">
                            <a>Rancangan</a>
                        </div>
                        <div class="card-text">
                            Rencana Strategis Daerah
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>Update : 7/2/2022</small>
                        <button class="btn btn-secondary float-right btn-sm">Lihat</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                    <div class="card-block">
                        <figure class="profile">
                            <img src="{% static 'logos/sickat.png' %}" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3">RKPD 2022</h4>
                        <div class="meta">
                            <a>Rancangan </a>
                        </div>
                        <div class="card-text">
                            Rencana Kerja Pemda
                        </div>
                    </div>
                    <div class="card-footer">
                        <small>Update : 7/2/2022</small>
                        <button class="btn btn-secondary float-right btn-sm">Lihat</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}